---
import Image from "astro/components/Image.astro";

interface Props {
  title: string;
  body?: string;
  href?: string;
  profile_image?: string;
}

const { href, title, body, profile_image } = Astro.props;
---

<div
  class="border-extra-soft-white max-w-[600px] rounded-xl border bg-slate-700 p-4 transition-colors duration-200 hover:bg-soft-light columns-1 w-[auto] md:columns-2"
>
  <a href={href}>
    <Image src={profile_image} width={300} height={300} alt={title} />
    <h2 class="text-soft-white text-3xl">
      {title}
      <span>&rarr;</span>
    </h2>
    <p>{body}</p>
  </a>
</div>
